@tailwind base;
@tailwind components;
@tailwind utilities;



.menu-transition {
    transition: padding 200ms ease;
    /* transition-delay: 100ms ; */
}

.navitem {
    transition: opacity 200ms ease-in-out;
    min-width: 80px !important;
}

.swiper-initialized {
    overflow: visible !important;
}



.swiper-button-next, .swiper-button-prev{

}

.swiper-button-next::after, .swiper-button-prev::after {
    content: "" !important;
}


.swiper-container .swiper-button-next,
.swiper-container .swiper-button-prev {
    position: relative ;
    width: 40px ;
    height: 40px ;
}

html {
    scroll-behavior: smooth;
  }